[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "i3/rofi/themes/gruvbox"]
	path = i3-rofi/themes/gruvbox
	url = git@github.com:bardisty/gruvbox-rofi
[submodule "i3-networkmanager-dmenu"]
	path = i3-networkmanager-dmenu
	url = git@github.com:firecat53/networkmanager-dmenu.git
	ignore = dirty	
[submodule "git/git-filter-repo"]
	path = git/git-filter-repo
	url = https://github.com/newren/git-filter-repo.git
